<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
	
	<select id="selectSyncWlist" resultType="kr.co.overscore.backend.model.SyncWListModel">
		SELECT	SYNC_ID syncId, 
					USER_ID userId,
					USER_NAME userName,
					STATUS status
		FROM 	sync_wlist
		WHERE 	STATUS = 'W'
		ORDER BY SYNC_ID
		LIMIT 	0, #{selectCount}
		;
	</select>
	
	<update id="updateSyncWListStatus" parameterType="java.util.HashMap">
		UPDATE sync_wlist
		SET		STATUS = #{status},
					UPD_DATE = now(),
					UPD_OPRT = #{oprt}
		WHERE	SYNC_ID = #{syncId}
		AND 		STATUS = #{preStatus}
	</update>
	
	<select id="selectPriorWlist" resultType="kr.co.overscore.backend.model.SyncWListModel">
		SELECT	SYNC_ID syncId, 
					USER_NAME userName,
					STATUS status
		FROM 	prior_wlist
		WHERE 	STATUS = 'W'
		ORDER BY SYNC_ID
		LIMIT 	0, #{selectCount}
		;
	</select>
	
	<update id="updatePriorWListStatus" parameterType="java.util.HashMap">
		UPDATE prior_wlist
		SET		STATUS = #{status},
					UPD_DATE = now(),
					UPD_OPRT = #{oprt}
		WHERE	SYNC_ID = #{syncId}
		AND 		STATUS = #{preStatus}
	</update>
	
	<select id="selectSearchWlist" resultType="kr.co.overscore.backend.model.SyncWListModel">
		SELECT	SYNC_ID syncId, 
					USER_NAME userName,
					STATUS status
		FROM 	search_wlist
		WHERE 	STATUS = 'W'
		ORDER BY SYNC_ID
		LIMIT 	0, #{selectCount}
		;
	</select>
	
	<update id="updateSearchWListStatus" parameterType="java.util.HashMap">
		UPDATE search_wlist
		SET		STATUS = #{status},
					UPD_DATE = now(),
					UPD_OPRT = #{oprt}
		WHERE	SYNC_ID = #{syncId}
		AND 		STATUS = #{preStatus}
	</update>
	
</mapper>